root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
trim_trailing_whitespace = true

# PHP PSR-2 Coding Standards
# http://www.php-fig.org/psr/psr-2/
[*.php]
insert_final_newline = true
indent_size = 4

# Airbnb JS Style Guide
# https://github.com/airbnb/javascript
[*.{js,ts,tsx,vue,graphql,gql}]
insert_final_newline = true
indent_size = 2
# editorconfig-tools is unable to ignore longs strings or urls
max_line_length = null

# Airbnb JS Style Guide
# https://github.com/airbnb/javascript
[*.conf]
insert_final_newline = true
indent_size = 2

# Airbnb CSS/SCSS Style Guide
# https://github.com/airbnb/css
[*.{css,scss}]
insert_final_newline = true
indent_size = 2

[*.{yml,yaml,json}]
insert_final_newline = true
indent_size = 2

[bitbucket-pipelines.yml]
insert_final_newline = true
indent_size = 4

[composer.json]
insert_final_newline = true
indent_size = 4