node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
package-lock.json
.expo-shared

certs/
.env
.secret
web-build/

# macOS
.DS_Store

# built apps
dist/
*.ipa
*.aab
*.apk
build-*.tar.gz
*.app
